* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: #202833;
}

.app .loader-container {
  margin-top: 20vh;
}

a {
  text-decoration: none;
}

.app .content-wrapper {
width: max(50vw, 700px);
  align-self: center;
}

.app .header {
  background-color: #0b0d10;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .header h1 {
  font-family: Courier, monospace;
  font-weight: bolder;
  flex-grow: 1;
  max-width: max(85vw, 800px);
}

.app .header h1 a {
  color: #67fcf1;
}

.app .main-page .content {
  flex-direction: column;
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}

.app .welcome {
  padding: 50px 15px 50px 15px;
  color: #e8e9ed;
}

.app .welcome h2 {
  font-size: 2.3rem;
  padding-bottom: 5px;
}

.app .welcome p {
  font-size: 1.2rem;
}

.app .title-container {
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}

.app .title-container .title {
  font-size: 1.3rem;

  font-weight: bold;
  color: #67fcf1;
}

.app .title-container .horizontal-bar {
  width: 60px;
  height: 5px;
  background-color: red;
}

.app .article-card {
  transition: all 0.1s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  color: #e8e9ed;
}

.app .article-card .card-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 1fr;
}

.app .article-card .card-header .title {
  grid-column: 1 /2;
  grid-row: 1 /2;
  font-size: 2rem;
}
.app .article-card .card-header .time {
  grid-column: 1 /2;
  grid-row: 2 /3;
  color: #c5c6c8;
}

.app .article-card .text {
  color: #c5c6c8;
  font-size: 1.1rem;
}

.app .article-card:hover {
  background-color: rgba(231, 231, 231, 0.136);
}

.app .article-card:hover .text {
  color: #e8e9ed;
}

.app .footer {
  margin-top: auto;
  font-size: 1.1rem;
  background-color: #0b0d10;
  color: #e8e9ed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 90px;
}

.app .footer .links {
  display: flex;
  gap: 50px;
}

.app .footer .links a {
  color: #46a29f;
  font-weight: bold;
}

.app .article-page {
  display: flex;
  gap: 30px;
  padding: 15px;
  flex-direction: column;
  color: #ffffff;
}

.app .article-page h1.title {
  align-self: center;
  font-size: 2.78rem;
  text-align: center;
}

.app .article-page p {
  font-size: 1.1rem;
}

.app .comment-field {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.app .comment-field div.label {
  color: #67fcf1;
  font-size: 1.1rem;
  font-weight: bold;
}

.app .comment-field form {
  display: flex;
  flex-direction: column;

  gap: 15px;
}
.app .comment-field textarea {
  width: min(100%, 400px);
  height: 100px;
  outline: none;
  transition: all 0.2s ease;
}
.app .comment-field textarea:focus {
  box-shadow: 5px 5px 0px #82bbc0;
}

.app .comment-field button {
  transition: all 0.2s ease;

  height: 35px;
  width: 100px;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: transparent;
  border: 2px solid #82bbc0;
  color: #d7d6db;
  cursor: pointer;
}
.app .comment-field button:hover {
  box-shadow: 3px 3px 0px #82bbc0;
}

.app .comments-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.app .comment-card {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.app .comment-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 100px;
}

.app .comment-card .card-header .title {
  font-size: 1.3rem;
  color: #79dad7;
}

.app .comment-card .card-header .time {
  color: #c5c6c8;
}

.app .comment-card .text {
  color: #ffffff;
  font-size: 1.1rem;
}

/* loading spinner */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 98px;
  height: 98px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #67fcf1;
  border-style: solid solid dotted;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
